/* The Jeopardy board
 */

 div#board {
	background-color: rgb(0, 0, 0);
}

div#category {
	display: inline-block;
	overflow-x: hidden;
}

div#name, div#question {
    /*line-height: 45px;*/
	margin: 0 .5vw 0 .5vw;
	background-color: rgb(6, 12, 233); /* Jeopardy Blue */
}

div#name h2, div#question h2 {
	text-align: center;
	color: rgb(255,215,0);             /* Gold */
}


/* Toasts
 */