/* The player scoreboard
 */
div#players {
	height: 12vh;
	
	padding-top: 3vh;
	padding-bottom: 3vh;
	
	/* Centers scoreboard */
	display: flex;
	justify-content: center;
}

div#player {
	margin: 0 .2vw;
	display: inline-block;
	overflow-x: hidden;
	background-color: rgb(6, 12, 233); /* Jeopardy Blue */
}

div#player h3 {
	text-align: center;
	color: rgb(255, 215, 0);           /* Gold */
}


/* The Jeopardy board
 */

div#board {
	height: 75vh;
	padding-top: 1vh;
	background-color: rgb(0, 0, 0);
}

div#category {
	display: inline-block;
	overflow-x: hidden;
}

div#name, div#question {
	margin: 0 .5vw 0 .5vw;
	background-color: rgb(6, 12, 233); /* Jeopardy Blue */
}

div#name h2, div#question h2 {
	/* Centers text in box */
	text-align: center;
	color: rgb(255, 215, 0);           /* Gold */
}


/* Toasts
 */

div.toast.host {
	margin: .5vh .5vw;
	padding: 1vh 1vw;
	
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
}

div.toast.host  p#content {
	display: inline-block;
	margin: 1vh 0 1vh 0;
}

/* Waiting for data to load */
div.toast.host.waiting {
	border-color: #F0A804;                   /* Pyridium Orange */
	background-color: rgba(240, 168, 4, .5); /* Pyridium Orange */
}

/* Failed to load data */
div.toast.host.failed {
	border-color: #DC143C;                   /* Crimson */
	background-color: rgba(220, 20, 60, .5); /* Crimson */
}

/* Data successfully loaded */
div.toast.host.ready {
	border-color: #00AF33;                   /* True Green */
	background-color: rgba(20, 175, 51, .5); /* True Green */
}