head, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}


/* Response button */

button#respond {
	/* Size and position */
	width: 80vw;
	height: 50vh;
	margin: 25vh 10vw 0 10vw;
	
	/* Appearance */
	background: #FFB7C5; /* Cherry Blossom Pink */
	border: none;
}


/* Toasts */

/* Pending answer */

.toast.delay {
	margin: 5vh 5vw;
	padding: 1vh 1vw;
	
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	border-color: #F0A804; /* Pyridium Orange */
	
	background-color: rgba(240, 168, 4, .5); /* Pyridium Orange */
}

/* Toast content */

.toast.delay p#content {
	display: inline-block;
	margin: 1vh 0 1vh 0;
}

/* The close button */

.toast.delay a#close {
	display: inline-block;
	float: right;
	text-decoration: none;
}

.toast.delay a#close:link {
	color: rgba(96, 96, 96, .5); /* Gray */
}

.toast.delay a#close:hover {
	color: rgb(96, 96, 96); /* Gray */
}